body{
    margin: 0;
    font-family: sans-serif;

}
.title{
    font-size: 20px;
    text-align: center;
}
table{
    margin: auto;
}
.cells{
    width: 40px;
    height: 40px;
    border: 2px solid black;
    text-align: center;
    color: white;
}

